.env*
!.env..example
!.env.example



*.py[cod]
__pycache__
Pipfile.lock

node_modules/
bower_components

build
build/Release
dist
dist-ssr
/media

logs
*.log

.pytest_cache
.coverage
coverage
.nyc_output
lib-cov

.npm
.eslintcache
.yarn-integrity
.node_repl_history

*.pid
*.pid.lock
*.seed
pids

.firebase/
.dataconnect
firebase_config.json

.branches
.temp
supabase/seed.sql
supabase/roles.sql

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/sdks
!.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

/cypress/videos/
/cypress/screenshots/

*.tsbuildinfo
*.jar
*.tgz
*.local
keyfile*
Thumbs.db
.DS_Store
.python*_env
.venv
.grunt
.lock-wscript
